<ul class="nav nav-pills" >
    <li class="nav-item">
      <a class="nav-link" href="navbar/objectType">object type</a>
      <!-- [class.active]="active1==true" -->
    </li>
    <li class="nav-item">
      <a class="nav-link" href="navbar/object" >object</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="navbar/relationType">relation type</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="navbar/objectRelation">object relation</a>
    </li>
    <!-- <li class="nav-item">
      <a class="nav-link" href="navbar/diagram">diagam</a>
    </li> -->
  </ul>
  <!-- <h1>hellow
    <img src="Images/IMG_0001.JPG" style="height:40px;"/>   </h1> -->
  
<router-outlet></router-outlet>

