<div *ngIf="objectRelationService.isShow" id="id01" class="w3-modal w3-animate-zoom" style="width: 50%; margin-left: 25%;">
    <div class="w3-modal-content">

        <button close (click)=close() class="material-icons">close</button>

        <form class="w3-container" [formGroup]="objRel" (ngSubmit)="addobjectRelation()">


            <div class="w3-padding">
                <div class="w3-row">
                    <label>object 1</label><br>
                    <label>object type</label><br>
                    <select (change)="onChange1($event)">
                        <option *ngFor="let t of objectTypeService.objectTypeList" [ngValue]="t.idObjectTypes">{{t.nameObjectTypes}}</option>
                    </select><br>
                    <label>object name</label><br>
                    <select formControlName="idObject1">
                        <option *ngFor="let o of currList1" [ngValue]="o.idObject">{{o.nameObject}}</option>
                    </select>
                </div>
            </div> 
            <div class="w3-padding">
                <div class="w3-row">
                    <label>object 2</label><br>
                    <label>object type</label><br>
                    <select (change)="onChange2($event)">
                        <option *ngFor="let t of objectTypeService.objectTypeList" [ngValue]="t.idObjectTypes">{{t.nameObjectTypes}}</option>
                    </select><br>
                    <label>object name</label><br>
                    <select formControlName="idObject2">
                        <option *ngFor="let o of currList2" [ngValue]="o.idObject">{{o.nameObject}}</option>
                    </select>
                </div>
            </div> 
            <div class="w3-padding">
                <div class="w3-row">
                    <label>relation type</label><br>
                    <select formControlName="idRelationsType">
                        <option *ngFor="let t of relationTypeService.relationTypeList" [ngValue]="t.idRelationsType">{{t.nameRelationsType}}</option>
                    </select >
                </div>
            </div> 

            <div class="w3-padding">               
                <div class="w3-row">
                    <label>description</label>
                    <input type="text" formControlName="description" class="form-control w3-input" (click)="a()"/>
                    
                </div>
            </div>           

            <button type="submit" class="registerbtn" [disabled]="!objRel.valid">save</button><br>

        </form>
    </div>
</div>


