<div *ngIf="objectTypeService.isShow" id="id01" class="w3-modal w3-animate-zoom" style="width: 50%; margin-left: 25%;">
    <div class="w3-modal-content">

        <button close (click)=close() class="material-icons">close
        </button>

        <form class="w3-container" [formGroup]="objType" (ngSubmit)="addObjectType()">


            <div class="w3-padding">
               
                <div class="w3-row">
                    <label>object type name</label>
                    <input type="text" formControlName="nameObjectType" class="form-control w3-input"
                        [ngClass]="{ 'is-invalid':f.nameObjectType.errors }" />
                    <div *ngIf="f.nameObjectType.touched && f.nameObjectType.errors" class="invalid-feedback" style="height: 30px;">
                        <small style="color:red" *ngIf="f.nameObjectType.errors.required">שדה חובה</small>
                    </div>
                </div>
            </div>
            <div class="w3-padding">
                <div class="w3-row">
                    <label>object type icon</label><br>
                    <img [src]="previewUrl" style="height: 40px;" *ngIf="previewUrl"/>
                    <input type="file" (change)="fileProgress($event)"/>
                </div>
            </div>
            <button type="submit" class="registerbtn" [disabled]="!objType.valid" >save</button><br>

        </form>
    </div>
</div>
