* {box-sizing: border-box}

.container {
  padding: 16px;
  width: 40%;
  margin:5% 30% 0 30%;
}

input[type=text]{
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}
input[type=text]:focus{
  background-color: #ddd;
  outline: none;
}
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}
.registerbtn {
  background-color: rgb(187, 20, 220);
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}
.registerbtn:hover {
  opacity:1;
}
a {
  color: dodgerblue;
}
.signin {
  background-color: #f1f1f1;
  text-align: center;
}
element.style {
  width: 100%!important;
  margin-left: 0%!important;
  display: block!important;
}
.w3-modal{
  width: 100%!important;
  margin-left: 0%!important;
  display: block!important;  
}
.close
{
  background-color:rgb(187, 20, 220);

}
.material-icons
{
  margin-right: 95.5%!important;
}