#myDiagramDiv {
    background: #34343C;
    width: 1500px;
    height: 500px;
margin-left: 10px !important; 
margin-right: 10px!important   /* border: 2px solid black; */
  }
  /* #zoomToFit
  {
    background-color: aqua;
    width: 29px;
    height: 5px;
  } */
  div.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 90px;
    height: 90px;
  }
  
  div.gallery:hover {
    border: 1px solid #777;
  }
  
  div.gallery img {
    width: 80px;
    height: 80px;
    text-align: center;
  }
  
  div.desc {
    padding: 15px;
    text-align: center;
  }
  /* .Button
  {

  } */
  .b{
    background-color: blueviolet;
  }