<div id="myDiagramDiv" ></div>
<p><button id="zoomToFit" (click)="focus()">Zoom to Fit</button> <button id="centerRoot" (click)="center()">Center on root</button></p>
<div *ngIf="isShow" style=" width: 60%; height: 170px; margin-left: 40%;">
     <div *ngFor="let icon of icons" class="gallery" style="float: right; margin-right: 20px;"> 
        <img  [src]=icon alt="Cinque Terre" (click)="chooseIcon()" style="width: 70px;height: 70px; margin-left: 20px;" />
     </div>
</div>
<!-- <div *ngIf="allShapes.length>0" class="col-md-2 shapes">
    <div *ngFor="let s of allShapes" class='aroundShape'> 
      <div (click)="shape=s" [ngClass]="{'circle':s.shapeName=='עיגול',
  'line':s.shapeName=='קו',
  'square':s.shapeName=='ריבוע'}" class="shape"> </div>
</div> -->
<!-- <div *ngFor="let i of images" class="gallery">
    <img [src]="i.pictuer" (click)="goToEdit(i)" alt="Cinque Terre" width="600" height="400">
  <div class="desc">{{i.description}}</div>
</div> -->