<h3>Content</h3>
<p-listbox [options]="cities" [(ngModel)]="selectedCar" filter="filter" optionLabel="name"[listStyle]="{'max-height':'250px'}" >
  <ng-template let-object pTemplate="item">
    <div class="ui-helper-clearfix">
      <img [(src)]="object.nameObject" style="display:inline-block;margin:5px 0 0 5px" width="48">
      <span style="float:right;margin:20px 10px 0 0">{{object.name}}</span>
    </div>
  </ng-template>
  <p-footer>
    Selected: {{selectedCar||'none'}}
  </p-footer>
</p-listbox>
