<body class="w3-half">
    <p-table *ngIf="load" [value]="objectService.objectList" dataKey="idObject" editMode="row">
        <ng-template pTemplate="caption">object list
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th>id</th>
                <th>object type</th>
                <th>name</th>
                <th>picture</th>
                <th style="width:8em"></th>
                <th>
                    <button buttonPlus class="pi pi-plus" (click)="add()"></button>
                </th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData let-editing="editing" let-ri="rowIndex">
            <tr [pEditableRow]="rowData" *ngIf="rowData.isActive">
                <td>
                    {{rowData.idObject}}
                </td>
                <td>
                    <p-cellEditor>
                        <ng-template pTemplate="input">
                            <select [(ngModel)]="rowData.idObjectTypes">
                                <option *ngFor="let t of objectTypeService.objectTypeList" [ngValue]="t.idObjectTypes">{{t.nameObjectTypes}}</option>
                            </select >
                        </ng-template>
                        <ng-template pTemplate="output">
                            {{getNameType(rowData)}}
                        </ng-template>
                    </p-cellEditor>
                </td>
                <td>
                    <p-cellEditor>
                        <ng-template pTemplate="input">
                            <input pInputText type="text" [(ngModel)]="rowData.nameObject" required>
                        </ng-template>
                        <ng-template pTemplate="output">
                            {{rowData.nameObject}}
                        </ng-template>
                    </p-cellEditor>
                </td>

                <td>

                    <p-cellEditor>
                        <ng-template pTemplate="input">
                            <img [(src)]="'Images/'+rowData.imgObject" style="height:40px;" />
                            <input type="file" name="image" (change)="fileProgress($event,rowData)" />
                        </ng-template>
                        <ng-template pTemplate="output">
                            <img [src]="'Images/'+rowData.imgObject" style="height:40px;" />
                        </ng-template>
                    </p-cellEditor>


                </td>
                <td style="text-align:center">

                    <button *ngIf="!editing" pButton type="button" pInitEditableRow icon="pi pi-pencil"
                        class="ui-button-info" (click)="onRowEditInit(rowData)"></button>
                    <button *ngIf="editing" pButton type="button" pSaveEditableRow icon="pi pi-check"
                        class="ui-button-success" style="margin-right: .5em" (click)="onRowEditSave(rowData)"></button>
                    <button *ngIf="editing" pButton type="button" pCancelEditableRow icon="pi pi-times"
                        class="ui-button-danger" (click)="onRowEditCancel(rowData, ri)"></button>
                </td>

                <td>
                    <button *ngIf="!deleting" pButton type="button" icon="pi pi-trash" class="ui-button-info"
                        (click)="deleting=!deleting"></button>
                    <button *ngIf="deleting" pButton type="button" icon="pi pi-check" class="ui-button-success"
                        style="margin-right: .5em" (click)="Delete(rowData)"></button>
                    <button *ngIf="deleting" pButton type="button" icon="pi pi-times" class="ui-button-danger"
                        (click)="deleting=!deleting"></button>
                </td>
            </tr>
        </ng-template>
    </p-table>
</body>

<router-outlet></router-outlet>