<!-- <div id="myDiagramDiv"></div> -->
<!-- <div class="row">
    <div class="col-xs-2"></div>
    <div class="col-xs-8">
        <app-add-new-node></app-add-new-node>
        <app-diagram></app-diagram>
    </div>
    <div class="col-xs-2"></div>
</div> -->
<div class="row">
    <router-outlet></router-outlet>

</div>
<!-- <button id="SaveButton" (click)="save()">Save</button> -->
<!-- d<app-inspector [selectedNode]='selectedNode' [model]='model'></app-inspector> -->
