<div *ngIf="relationTypesService.isShowIcons" style=" width: 60%; height: 170px; margin-left: 40%;">
    <div *ngFor="let i of relationsTypesList" class="gallery" style="float: right; margin-right: 20px;"> 
       <img  [src]=i.icon alt="Cinque Terre" (click)="chooseIcon(i)" style="width: 70px;height: 70px; margin-left: 20px;" />
    </div>
</div>
