<div *ngIf="relationTypeService.isShow" id="id01" class="w3-modal w3-animate-zoom"
    style="width: 50%; margin-left: 25%;">
    <div class="w3-modal-content">

        <button close (click)=close() class="material-icons">close
        </button>

        <form class="w3-container" (ngSubmit)="addRelationType()">

            <div class="row">
                <div [ngClass]="{'col-md-5':!mutual,'col-md-12':mutual}">
                    <div class="w3-padding">

                        <div class="w3-row">
                            <label>relation type name</label>
                            <input type="text" class="form-control w3-input"  name="nameRelationType" [(ngModel)]="nameRelationType"/>
                            <!-- [ngClass]="{ 'is-invalid':f.nameRelationType.errors }"  -->
                            <!-- <div *ngIf="f.nameRelationType.touched && f.nameRelationType.errors" class="invalid-feedback" style="height: 30px;">
                        <small style="color:red" *ngIf="f.nameRelationType.errors.required">שדה חובה</small>
                    </div> -->
                        </div>
                    </div>
                    <div class="w3-padding">
                        <div class="w3-row">
                            <label>relation type icon</label><br>
                            <img [src]="previewUrl" style="height: 40px;" *ngIf="previewUrl" />
                            <input type="file" (change)="fileProgress($event)" />
                        </div>
                    </div>
                    <div class="w3-row">
                        <input type="checkbox" name="hjgh" [(ngModel)]="mutual">
                        <label>mutual relation?</label>
                    </div>
                </div>
                <div *ngIf="!mutual" class="col-md-5"> 
                    <div class="w3-padding">

                        <div class="w3-row">
                            <label>opposite relation name</label>
                            <input type="text" class="form-control w3-input" name="nameRelationType2" [(ngModel)]="nameRelationType2"/>
                        </div>
                    </div>
                    <div class="w3-padding">
                        <div class="w3-row">
                            <label>opposite relation icon</label><br>
                            <img [src]="previewUrl2" style="height: 40px;" *ngIf="previewUrl2" />
                            <input type="file" (change)="fileProgress2($event)" />
                        </div>
                    </div>
                </div>
            </div>



            <button type="submit" class="registerbtn">save</button><br>

        </form>
    </div>
</div>