<div *ngIf="objectService.isShow" id="id01" class="w3-modal w3-animate-zoom" style="width: 50%; margin-left: 25%;">
    <div class="w3-modal-content">

        <button close (click)=close() class="material-icons">close
        </button>

        <form class="w3-container" [formGroup]="obj" (ngSubmit)="addObject()">


            <div class="w3-padding">
               
                <div class="w3-row">
                    <label>object name</label>
                    <input type="text" formControlName="nameObject" class="form-control w3-input"
                        [ngClass]="{ 'is-invalid':f.nameObject.errors }" />
                    <div *ngIf="f.nameObject.touched && f.nameObject.errors" class="invalid-feedback" style="height: 30px;">
                        <small style="color:red" *ngIf="f.nameObject.errors.required">שדה חובה</small>
                    </div>
                </div>
            </div>
            <div class="w3-padding">
                <div class="w3-row">
                    <label>object type</label><br>
                    <select formControlName="idObjectTypes">
                        <option *ngFor="let t of objectTypeService.objectTypeList" [ngValue]="t.idObjectTypes">{{t.nameObjectTypes}}</option>
                    </select >
                </div>
            </div>
            <div class="w3-padding">
                <div class="w3-row">
                    <label>object picture</label><br>
                    <img [src]="previewUrl" style="height: 40px;" *ngIf="previewUrl"/>
                    <input type="file" (change)="fileProgress($event)"/>
                </div>
            </div>
            <button type="submit" class="registerbtn" [disabled]="!obj.valid" >save</button><br>

        </form>
    </div>
</div>

