:host >>> .ui-button{
    background-color: rgb(187, 20, 220)!important;
}

.buttonPlus
{
    color:crimson;
    background-color: rgb(187, 20, 220);
    margin-right: 90%!important;
}

:host >>> .w3-col, .w3-half, .w3-third, .w3-twothird, .w3-threequarter, .w3-quarter
{
    margin-right: 10%;
    /* margin-top: 10%; */
    float:right!important;
}

@media (min-width: 601px){:host >>> .w3-col.m6, .w3-half {
     width:80%!important; 
}}
:host >>> button, input, optgroup, select, textarea 
{
    color:rgb(187, 20, 220);
}
:host >>> th
{
    text-align:center ;
}
:host >>> body .ui-table .ui-table-tbody > tr > td {
    background-color: inherit;
    border:none!important;
} 

:host >>> body .ui-table .ui-table-thead > tr > th {
    padding: 0.571em 0.857em;
    border: none!important;
    font-weight: 700;
    color: #333333;
    /* background-color: #f4f4f4; */
}

h3{
padding-bottom: 0%;    
margin-right:45% ;
margin-top:7% ;
}
html{
    margin-top: 20%;
}