<body class="w3-half">
    <p-table *ngIf="load" [value]="objectRelationService.objectRelationsList" dataKey="idObjectRelations" editMode="row">
        <ng-template pTemplate="caption">object relation list
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th>id</th>
                <th>Object1</th>
                <th>Object2</th>
                <th>Relations Type</th>
                <th>description</th>
                <th style="width:8em"></th>
                <th>
                    <button buttonPlus class="pi pi-plus" (click)="add()"></button>
                </th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData let-editing="editing" let-ri="rowIndex">
            <tr [pEditableRow]="rowData" *ngIf="rowData.isActive">
                <td>
                    {{rowData.idObjectRelations}}
                </td>
                <td>
                    <!-- <p-cellEditor>
                        <ng-template pTemplate="input">
                            <select [(ngModel)]="helping1.idObjectTypes" (change)="onChange1()">
                                <option *ngFor="let t of objectTypeService.objectTypeList" [ngValue]="t.idObjectTypes">{{t.nameObjectTypes}}</option>
                            </select >
                            <select [(ngModel)]="rowData.idObject1">
                                <option *ngFor="let o of currList1" [ngValue]="o.idObject"> {{o.nameObject}}</option>
                            </select >
                        </ng-template> 
                        <ng-template pTemplate="output"> -->
                            {{getObject1(rowData).nameObject}} - {{getNameObjType(getObject1(rowData))}}
                        <!-- </ng-template>
                    </p-cellEditor> -->
                </td>
                <td>
                    <!-- <p-cellEditor>
                        <ng-template pTemplate="input">
                            <select [(ngModel)]="helping2.idObjectTypes" (change)="onChange2()">
                                <option *ngFor="let t of objectTypeService.objectTypeList" [ngValue]="t.idObjectTypes">{{t.nameObjectTypes}}</option>
                            </select >
                            <select [(ngModel)]="rowData.idObject2">
                                <option *ngFor="let o of currList2" [ngValue]="o.idObject"> {{o.nameObject}}</option>
                            </select >
                        </ng-template>
                        <ng-template pTemplate="output"> -->
                            {{getObject2(rowData).nameObject}} - {{getNameObjType(getObject2(rowData))}}
                        <!-- </ng-template>
                    </p-cellEditor> -->
                </td>
                <td>
                    <p-cellEditor>
                        <ng-template pTemplate="input">
                            <select [(ngModel)]="rowData.idRelationsType">
                                <option *ngFor="let t of relationTypeService.relationTypeList" [ngValue]="t.idRelationsType">{{t.nameRelationsType}}</option>
                            </select >
                        </ng-template>
                        <ng-template pTemplate="output">
                            {{getNameType(rowData)}}
                        </ng-template>
                    </p-cellEditor>
                </td>
                <td>
                    <p-cellEditor>
                        <ng-template pTemplate="input">
                            <input pInputText type="text" [(ngModel)]="rowData.description" required>
                        </ng-template>
                        <ng-template pTemplate="output">
                            {{rowData.description}}
                        </ng-template>
                    </p-cellEditor>
                </td>
                <td style="text-align:center">

                    <button *ngIf="!editing" pButton type="button" pInitEditableRow icon="pi pi-pencil"
                        class="ui-button-info" (click)="onRowEditInit(rowData)"></button>
                    <button *ngIf="editing" pButton type="button" pSaveEditableRow icon="pi pi-check"
                        class="ui-button-success" style="margin-right: .5em" (click)="onRowEditSave(rowData)"></button>
                    <button *ngIf="editing" pButton type="button" pCancelEditableRow icon="pi pi-times"
                        class="ui-button-danger" (click)="onRowEditCancel(rowData, ri)"></button>
                </td>

                <td>
                    <button *ngIf="!deleting" pButton type="button" icon="pi pi-trash" class="ui-button-info"
                        (click)="deleting=!deleting"></button>
                    <button *ngIf="deleting" pButton type="button" icon="pi pi-check" class="ui-button-success"
                        style="margin-right: .5em" (click)="Delete(rowData)"></button>
                    <button *ngIf="deleting" pButton type="button" icon="pi pi-times" class="ui-button-danger"
                        (click)="deleting=!deleting"></button>
                </td>
            </tr>
        </ng-template>
    </p-table>
</body>

<router-outlet></router-outlet>